[submodule "src/new_shared"]
	path = src/new_shared
	url = git@github.com:ut-amrl/amrl_shared_lib.git
[submodule "src/config-reader"]
	path = src/config-reader
	url = git@github.com:ut-amrl/config-reader.git
[submodule "maps"]
	path = maps
	url = git@github.com:ut-amrl/amrl_maps.git
